:root {
  --font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --Ironside-Grey: #65676B;
  --Black: #000000;
  --White: #ffffff;
  --Amaranth: #F02849;
  --Porcelain: #F2F2F2;
  --Blue-Dress: #1876F2;
  --Main-bg: #F0F2F5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: var(--Main-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

input,
button {
  outline: none;
  font-family: var(--font-family);
}

/*====================
        NAVBAR
======================*/
.nav {
  position: fixed;
  width: 100%;
  height: 56px;
  background: var(--White);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 10px;
}

.section-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 ul li:nth-child(1) {
  margin-right: 1rem;
}

@media (max-width: 375px) {
  .section-1 ul li:nth-child(1) {
    margin-right: .2rem;
  }
}

.section-1 .search__bar {
  background: var(--Porcelain);
  border-radius: 20px;
}

.section-1 .search__bar i {
  margin: 0 0 0 1rem;
  color: var(--Ironside-Grey);
}

@media (max-width: 1245px) {
  .section-1 .search__bar i {
    margin: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.section-1 .search__bar input {
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 1245px) {
  .section-1 .search__bar input {
    display: none;
  }
}

.section-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 683px) {
  .section-2 ul .sec-2-icon {
    display: none;
  }
}

.section-2 ul li {
  margin: 0 .2rem;
  background: var(--White);
  padding: 9px 40px;
  border-radius: 6px;
  cursor: pointer;
}

.section-2 ul li:hover {
  background: var(--Porcelain);
}

.section-2 ul li svg {
  fill: var(--Ironside-Grey);
}

@media (max-width: 1020px) {
  .section-2 ul li {
    padding: 9px 25px;
  }
}

@media (max-width: 990px) {
  .section-2 ul li {
    padding: 9px 21px;
  }
}

@media (max-width: 768px) {
  .section-2 ul li {
    padding: 9px 17px;
  }
}

@media (max-width: 600px) {
  .section-2 ul li {
    padding: 9px 13px;
  }
}

.section-2 ul .active {
  border-radius: 0;
  border-bottom: 3px solid var(--Blue-Dress);
}

.section-2 ul .active svg {
  fill: var(--Blue-Dress);
}

@media (max-width: 1083px) {
  .section-2 ul .gaming {
    display: none;
  }
}

.section-2 ul .hamburger {
  display: none;
}

@media (max-width: 1083px) {
  .section-2 ul .hamburger {
    display: block;
  }
}

@media (max-width: 320px) {
  .section-2 ul .hamburger {
    display: none;
  }
}

.section-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-3 ul .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 0 5px;
  cursor: pointer;
}

.section-3 ul .profile:hover {
  background: #E4E6EB;
}

.section-3 ul .profile img {
  width: 30px;
  border-radius: 50%;
}

.section-3 ul .profile p {
  font-size: 15px;
  font-weight: 500;
  padding: 0 5px;
}

@media (max-width: 1245px) {
  .section-3 ul .profile {
    display: none;
  }
}

.section-3 ul .icon {
  background: #E4E6EB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.section-3 ul .icon:hover {
  background: #d7d8db;
}

.section-3 ul li {
  margin: 0 .5rem;
}

.section-3 ul li .menu {
  width: 20px;
  height: 20px;
  background: url("../img/W8VX4aUw2vn.png");
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -84px -67px;
}

.section-3 ul li .account {
  width: 20px;
  height: 20px;
  background: url("../img/W8VX4aUw2vn.png");
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -42px -88px;
}

@media (max-width: 375px) {
  .section-3 ul li {
    margin: 0 .2rem;
  }
}
